<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB77gkZ9bjT5swHDeCZouIZFwVpwK7jc_0</string>
	<key>GCM_SENDER_ID</key>
	<string>1091370455595</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.linked-solution.EcclesiaBook</string>
	<key>PROJECT_ID</key>
	<string>ecclesiabook-87200</string>
	<key>STORAGE_BUCKET</key>
	<string>ecclesiabook-87200.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1091370455595:ios:57c3885bd741e4bb25d06e</string>
</dict>
</plist>